<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO_WEB_APPLICATION</title>
    <link rel="stylesheet" type="text/css" href="static/DEMOAPP/css/index.css" />
</head>
<body background="static/DEMOAPP/image/drops.jpg">
<header>
    <div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallary</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a> </li>
        </ul>
    </div>
</header>
</body>
</html>